.homepage-main {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    text-align: center;
    align-items: center;
}

.homepage-start-button {
    padding: 12px 24px;
    text-decoration: none;
    background-color: var(--ifm-button-color);
    color: var(--ifm-color-contrast);
    border-radius: 32px;
    font-weight: bold;
}